{% extends 'base.html' %}

{% load static %}



{% block content %}

<style>

    .ig

    {

    height:300px;

    width:30%;

    border:solid 5px white;

    }

    .about

    {

    min-height:600px

    }

</style>

<div class="row about bg-light pb-3" >

    <h2 class="text-center fs-3 pt-3" >About<u class="text-warning"> Us <i class="fa fa-info-circle"></i></u></h2>

        <div class="col-sm-1" ></div>

        <div class="col-sm-10 pb-5" >

            <img src="{% static 'images/cse1.jpg' %}" class="ig float-start m-2">

            <p style="font-size:19px; text-align:justify;">My college is basically a college website of a college

                developed and designed by the student of polytechnic colleges only where the complete details of the

                college their establishment date,management members, department and course everything is mentioned which

                help other people as well to know about the respected college easily and accurately. The website also

                contains the news slider and contact us page as well through which the student can get all latest update

                about their college and contact the respected authoeritty eaisly.<br/>



                To direct our services of education to the student ensuring their devlopment of unfolding & activitigtheir unique potential, creative abilty & equipping them with technical & generic skills so that they would prove a talent pool to the indutry & society at large.

                To produce technical complement, quality conscious engineers.

                To develop functionally suitable and conducive enviroment for student and staff for academic purpose

                To strengthn industry institute interaction.

                Established in the year 2001 as a new millennium project of CHSA, Canara Engineering College

                (CEC) has evolved as one of the premier Engineering institutes in the region and attracts students

                from diverse backgrounds across the country.The campus has a sprawling area of 26 acres, set in a

                picturesque locale and has aesthetically designed eco-friendly buildings amidst the green belt within

                the vicinity of Mangalore City.<br/> Academic discipline, student centered learning opportunities, hard

                work and mainly team work by upholding the philosophy of our founder, Late Sri Ammembal Subba Rao Pai,

                in imparting modern education blended with ancient cultural values, remain the key of success in the

                path of progress towards perfection.The institution is completely self-financed and does not receive

                grants from any source.

            </p>

        </div>

        <div class="col-sm-1" ></div>

</div>

<!--

<div class="row p-0 pt-3">

    <div class="col-sm-2">

        <div class="card" style="width:100%;">

  <img src="{% static 'images/icon1.jpg'%}" class="card-img-top" alt="...">

  <div class="card-body">

  </div>

    </div>

    </div>

    <div class="col-sm-2">

        <div class="card" style="width:100%;">

  <img src="{% static 'images/icon2.jpg'%}" class="card-img-top" alt="...">

  <div class="card-body">

    </div>

    </div>

    </div>

    <div class="col-sm-2 ">

        <div class="card" style="width:100%;">

  <img src="{% static 'images/icon3.jpg'%}" class="card-img-top" alt="...">

  <div class="card-body">

</div>

</div>

</div>

    <div class="col-sm-2 ">

        <div class="card" style="width:100%;">

  <img src="{% static 'images/icon4.jpg'%}" class="card-img-top" alt="...">

  <div class="card-body">



    </div>

    </div>

    </div>

    <div class="col-sm-2">

        <div class="card" style="width:100%;">

  <img src="{% static 'images/icon5.jpg'%}" class="card-img-top" alt="...">

  <div class="card-body">



    </div>

    </div>

    </div>

    <div class="col-sm-2">

        <div class="card" style="width:100%;">

  <img src="{% static 'images/icon5.jpg'%}" class="card-img-top" alt="...">

  <div class="card-body">



    </div>

    </div>

    </div>

</div>





<div class="row p-0" >

    <div class="col-sm-2">

        <div class="card" style="width:100%;">

  <img src="{% static 'images/icon12.jpg'%}" class="card-img-top" alt="...">

  <div class="card-body">

  </div>

</div>

    </div>

    <div class="col-sm-2">

        <div class="card" style="width:100%;">

  <img src="{% static 'images/icon7.jpg'%}" class="card-img-top" alt="...">

  <div class="card-body">

    </div>

    </div>

    </div>

    <div class="col-sm-2 ">

        <div class="card" style="width:100%;">

  <img src="{% static 'images/icon8.jpg'%}" class="card-img-top" alt="...">

  <div class="card-body">

</div>

</div>

</div>

    <div class="col-sm-2 ">

        <div class="card" style="width:100%;">

  <img src="{% static 'images/icon9.jpg'%}" class="card-img-top" alt="...">

  <div class="card-body">



    </div>

    </div>

    </div>

    <div class="col-sm-2">

        <div class="card" style="width:100%;">

  <img src="{% static 'images/icon10.jpg'%}" class="card-img-top" alt="...">

  <div class="card-body">

    </div>

    </div>

    </div>

     <div class="col-sm-2">

        <div class="card" style="width:100%;">

  <img src="{% static 'images/icon10.jpg'%}" class="card-img-top" alt="...">

  <div class="card-body">

    </div>

    </div>

    </div>

</div>-->



{% endblock %}