{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .cs
    {
    min-height:450px;
    }
</style>
<div class="row">
    <h2 class=" text-center">Electrical <i class="fa fa-graduation-cap text-warning"></i></h2>
    <div class="col-sm-9" style="font-size:21px; text-align:justify;" >
        “Electrical & Electronics Engineering” is a growing and one of the most sought disciplines in the field of
        engineering study. It comprises with the electrical engineering and electronics engineering.<br/>

It is originated by the electrical engineering. By the technically modernization of the world and computerization in
        our work field, it is necessary to use and understand the circuits and computerized devices in electrical &
        electronic field.<br/>



The electrical & electronics engineering (EEE) involves with the power. It can be existed in various forms like turbine,
        hydro, gas, fuel cell, solar, wind or geothermal energy. It involves the use, storage and generation of the power
        and energy.<br/>
        Electrical & electronics engineering not only involves in electrical appliances, but also involves in computer,
        electronics, communication and mechanical fields.<br/>
        One can become an electrical and electronics engineer after completing the 4-years study of Bachelor of
        Technology in this field.
        Electrical & electronics engineering can involve the large and small amounts of power and devices.</br>

        <b>“Electrical & Electronics Engineering deals with the application & study of Power & Devices”.</b>

    </div>
    <div class="col-sm-3">
        <div class="card" style="width:100%;border:solid 3px orange;">
  <img src="{% static 'images/e.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
      <h5><b class="card-text co">Course</b>:Diploma</h5>
            <h5><b class="card-text co">Trade</b>:Electrical</h5>
      <h5><b class="card-text co">Number of seats</b>:70</h5>
      <h5><b class="card-text co">Total fee</b>:Rs.30000/</h5>
      <h5><b class="card-text co">Eligibility of Admission</b>:10th and 12th with 60%</h5>

  </div>
</div>
    </div>
</div>


{% endblock %}