{% extends 'base.html'%}
{% load static %}
{% block content %}
    <div class="h2 text-center">Faculty <i class="fa fa-user text-warning"></i></div>
        <div class="row">
            {% if f%}
            {% for x in f%}
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
        <img src="/{{x.pic}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title"><b class="pt-3">{{x.name}}</b></h5>
        <p class="card-text">{{x.about}}</p>
      </div>
    </div>
  </div>
</div>
            </div>
            {%endfor%}
            {%endif%}

        </div>
            <!--
            <div class="col-sm-5">
                <div class="card mb-3" >
  <div class="row g-0" >
    <div class="col-md-4">
      <img src="{% static 'images/sir2.jpg'%}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title"><b>Dr. Satyendra Kumar verma</b></h5>
        <p class="card-text"><b>Lecturer,</b><br/>Institute of Government Polytechnic,Aadamapur<br/>Email: skverma10july86@rediffmail.com</p>
      </div>
    </div>
  </div>
</div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/sir3.jpg'%}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title"><b>Mr. Girish Chandra Chaudhary</b></h5>
        <p class="card-text"><b>Workshop Instructor</b><br/>Institute of Government Polytechnic,Aadamapur<br/>Email: gchandra@gmail.com</p>
      </div>
    </div>
  </div>
</div>
            </div>
            <div class="col-sm-5">
                <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/rahul.jpg'%}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title"><b>Mr. Rahul Singh</b></h5>
        <p class="card-text"><b>Lecturer,</b><br/>Institute of Government Polytechnic,Aadamapur<br/>Email: rahul.15jun@gmail.com</p>
      </div>
    </div>
  </div>
</div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>
<div class="row p-0 pt-3">
    <div class="col-sm-2">
        <div class="card" style="width:100%;">
  <img src="{% static 'images/icon1.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
  </div>
    </div>
    </div>
    <div class="col-sm-2">
        <div class="card" style="width:100%;">
  <img src="{% static 'images/icon2.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    </div>
    </div>
    </div>
    <div class="col-sm-2 ">
        <div class="card" style="width:100%;">
  <img src="{% static 'images/icon3.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
</div>
</div>
</div>
    <div class="col-sm-2 ">
        <div class="card" style="width:100%;">
  <img src="{% static 'images/icon4.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">

    </div>
    </div>
    </div>
    <div class="col-sm-2">
        <div class="card" style="width:100%;">
  <img src="{% static 'images/icon5.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">

    </div>
    </div>
    </div>
    <div class="col-sm-2">
        <div class="card" style="width:100%;">
  <img src="{% static 'images/icon5.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">

    </div>
    </div>
    </div>
</div>


<div class="row p-0" >
    <div class="col-sm-2">
        <div class="card" style="width:100%;">
  <img src="{% static 'images/icon12.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
  </div>
</div>
    </div>
    <div class="col-sm-2">
        <div class="card" style="width:100%;">
  <img src="{% static 'images/icon7.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    </div>
    </div>
    </div>
    <div class="col-sm-2 ">
        <div class="card" style="width:100%;">
  <img src="{% static 'images/icon8.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
</div>
</div>
</div>
    <div class="col-sm-2 ">
        <div class="card" style="width:100%;">
  <img src="{% static 'images/icon9.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">

    </div>
    </div>
    </div>
    <div class="col-sm-2">
        <div class="card" style="width:100%;">
  <img src="{% static 'images/icon10.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    </div>
    </div>
    </div>
     <div class="col-sm-2">
        <div class="card" style="width:100%;">
  <img src="{% static 'images/icon10.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    </div>
    </div>
    </div>
</div>-->


<!--START COMPANY===================================================================-->



{% endblock %}