{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .gallery
    {
    min-height:300;
    {
</style>
    <div class="h2 text-center"> Images <u class="text-warning">Gallery <i class="fa fa-image"></i></u></div>
    <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row">
            {% if d%}
            {% for x in d%}
            <div class="col-sm-4 p-3">
                <div class="card w-100%">
  <img src="/{{x.gpic}}"   class="card-img-top" alt="...">
<!--  <div class="card-body">-->
<!--    <a href="#" class="btn btn-outline-warning">{{x.pdes}}</a>-->
<!--  </div>-->
</div>


            </div>
            {%endfor%}
            {%endif%}

    </div>

<div class="col-sm-1"></div>
</div>
    </div>
{% endblock %}