{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .cs
    {
    min-height:450px;
    }
</style>
<div class="row">
    <h2 class=" text-center">UP BOARD <u class="text-warning">Hindi Medium <i class="fa fa-graduation-cap text-warning"></i></u></h2>
    <div class="col-sm-9" style="font-size:20px; text-align:justify;" >
        The most basic information technology definition is that it's the application of technology to solve business or
        organizational problems on a broad scale. No matter the role, a member of an IT department works with others to solve
        technology problems, both big and small.<br/>
        For many people, information technology (IT) is basically synonymous with the guys and gals you call when you need
        help with a computer issue. While that view of information technology isn’t totally wrong, it drastically understates
        the scope of this critical career field.
        If you’re looking to get a better handle on what information technology is and the many facets of this field, then
        you’ve come to the right place. We’ve done the digging for you and spoke with IT industry pros to create this helpful
        beginner’s guide to the field<br/>
        <u class="text-warning" style="font-size:30px;">IT career opportunities</u><br/>
Now that you know the general responsibilities of an IT department, you may be wondering what the individual roles within
        are. Here are some of the positions that you’ll find in many IT departments:<br/>

<b>Computer support specialists</b> work on the front lines troubleshooting any technology issues including software issues,
        computer crashes and hardware trouble. These specialists may also assist senior-level IT members with larger-scale
        network issues.<br/>
<b>Network systems administrators </b> focus on the big picture of the network system, security and performance.<br/>
<b>Computer systems analysts</b> work behind the scenes to marry IT with smart business solutions. They usually specialize in
        a particular industry while working for a technology firm or work directly in an industry, like finance or
        government.<br/>
<b>Information security</b> analysts are responsible for the security of an organization’s computer networks, conducting tests
        and developing company-wide best security practices.<br/>

    </div>
    <div class="col-sm-3">
        <div class="card" style="width:100%; border:solid 3px orange;">
  <img src="{% static 'images/d2.webp'%}" class="card-img-top" alt="...">
  <div class="card-body">
      <h5><b class="card-text co">Course</b>:Diploma</h5>
            <h5><b class="card-text co">Trade</b>:IT</h5>
      <h5><b class="card-text co">Number of seats</b>:70</h5>
      <h5><b class="card-text co">Total fee</b>:Rs.30000/</h5>
      <h5><b class="card-text co">Eligibility of Admission</b>:10th and 12th with 60%</h5>
  </div>
</div>
    </div>
</div>


{% endblock %}