{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .cs
    {
    min-height:450px;
    }

</style>
<div class="row" >
    <h2 class=" text-center">CBSC BOARD <u class="text-warning">English Medium</u> <i class="fa fa-graduation-cap text-warning"></i></h2>
    <div class="col-sm-9 "style="font-size:19px; text-align:justify;">
        Computer Science has sparked the world with its charming and fascinating theories, engineering, and experiments.
        It has led to various developments that saves much time of people daily and has become a helping hand for them
        the word 'science' refers to the study of principals and the computation of a particular concept. Like General
        Science or Social Science, Computer Science is the scientific study of a computer system. It represents the
        theoretical study as well as practical implementations of a computer system. It incorporates all information on
        hardware and software parts. From brief to detailed, each related concept of a computer system is explained in it
        It describes each part and process held in a computer system covering all parts from the core to its advanced
        topics. <br/>It lets us know and learn about algorithms, processes, programs, data representation, and the method of
        computing the digital information. Its discipline introduces various algorithms and data structures, network
        designing, concepts of programming and modeling, and artificial intelligence. Computer Science foundations are
        covered from mathematics and engineering subjects that result in electronic circuit design techniques, techniques
        from probability and statistics, etc.<br/>&nbsp;
        <p style="font-size:30px;">Career Option in<u class="text-warning"> Computer Science:</u></p>
        The different specializations in the field of Computer Science have attracted a lot of students. So, if anyone has an interest in this field can pursue the degree of Computer Science from colleges or universities offering the program and make their career options in the following fields:

        <b>*</b> Database Administrator<br/>
<b class="text-warning">*</b>  Web Developer<br/>
<b class="text-warning">*</b>  Software Analyst<br/>
<b class="text-warning">*</b>  Software Engineer/ Hardware Engineer<br/>
<b class="text-warning">*</b>  Computer System Operator<br/>
<b class="text-warning">*</b>  Tester<br/>
<b class="text-warning">*</b>  Coder<br/>
<b class="text-warning">*</b>  Computer Graphics Designer<br/>
<b class="text-warning">*</b>  Computer Networking Engineer and lots more.<br/><br/>
        <b>Know your interest, set your mind, take steps, and grab the opportunities you get.</b>

    </div>
    <div class="col-sm-3">
        <div class="card" style="width:100%;border:solid 3px orange;">
  <img src="{% static 'images/c6.png'%}" class="card-img-top" alt="...">
  <div class="card-body " style="border:solid black 2px;">
      <h5><b class="card-text co">Course</b>:Diploma</h5>
      <h5><b class="card-text co">Trade</b>:Computer Science</h5>
      <h5><b class="card-text co">Number of seats</b>:60</h5>
      <h5><b class="card-text co">Total fee</b>:Rs.30000/</h5>
      <h5><b class="card-text co">Head of Course</b>:Mr.Raj Narain</h5>
      <h5><b class="card-text co">Eligibility of Admission</b>:10th and 12th with 60%</h5>
  </div>
</div>
    </div>
</div>


{% endblock %}