{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .cs
    {
    min-height:450px;
    }
</style>
<div class="row">
    <h2 class=" text-center">Mechanical <i class="fa fa-wrench text-warning"></i></h2>
    <div class="col-sm-9" style="font-size:19px; text-align:justify;">
        Mechanical Engineering is one of the specialisation of engineering which deals with machines; their production,
        design, and operation. Mechanical Engineers play a vital role in various industries such as energy conversion,
        biotechnology, computers, electronics, aerospace, and countless others.<br/>
        A mechanical engineer’s role is to take any product through the entire journey from the idea to the marketplace.
        This requires them to have an understanding of the environment that any product or system, or its parts, will have
        to encounter, thereby designing them accordingly keeping in mind factors like durability, aesthetics, and
        functionality. <br/>This discipline has an enormous depth and width which allows students several career options.
        Education in Mechanical Engineering equips students with analytical and creative skills that help them design a
        system or product, analytical tools for the achievement of their design goals, teamwork skills to design, produce
        and market a system, and finally, the ability to overcome any constraints along the way.<br/>
        <u class="text-warning" style="font-size:25px;">Scope of Mechanical Engineering in India</u><br/>
The scope of Mechanical Engineers in India  is very broad, with a plethora of opportunities in practically any industry.
        Students holding a degree in Mechanical Engineering can find employment in aerospace, chemical manufacturing plants,
        automobiles, research and development, oil exploration, railway factories and many others.
        With the advent of technology in recent times, the expertise and skills of a Mechanical Engineer are increasingly
        sought after in more technology-specific domains including nanotechnology, biomedical engineering, Artificial
        Intelligence, robotics, and energy conservation, among others.<br/>


<b>Over the next few years, the growth of Mechanical Engineering careers is expected to be immense and will soon transcend
    many other professions to become one of the highest-paying career options.</b>

    </div>
    <div class="col-sm-3">
        <div class="card" style="width:100%; border:solid 3px orange;">
  <img src="{% static 'images/civil.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
      <h5><b class="card-text co">Course</b>:Mechanical</h5>
      <h5><b class="card-text co">Stablished date</b>:Mechanical</h5>
      <h5><b class="card-text co">Number of seats</b>:120</h5>
      <h5><b class="card-text co">Total fee</b>:Rs.30000/</h5>
      <h5><b class="card-text co">Head of Course</b>:Mr. Girish Chandra Chaudhary</h5>
      <h5><b class="card-text co">Eligibility of Admission</b>:10th and 12th with 60%</h5>
  </div>
</div>
    </div>
</div>


{% endblock %}